#organizer_main_cointainer table tr.past_due td {
    background-color: #F0F0F0 !important;
}

#organizer_main_cointainer table tr.affected_slot td {
    background-color: LightGreen !important;
}

#organizer_main_cointainer table tr.unavailable td {
    color: gray !important;
}

#organizer_main_cointainer table.overview {
    width: 100% !important;
}

#organizer_main_cointainer table.overview td {
	border: 1px solid #BBB !important;
}

#organizer_main_cointainer fieldset.preview {
	width: 97.3%;
}

#organizer_main_cointainer div.datapreviewtitle{
	margin-bottom:-2em;
	font-weight:bold;
	margin-left: 1.5em;
}

/*fix here sn */
#organizer_main_cointainer div.forced_scroll {
	border: solid 1px #ddd;
    overflow-x: scroll;
    margin-left:10px;
    margin-right:10px;
    padding-top:2em;
}

#organizer_main_cointainer div.forced_scroll table {
	min-width: 1024px;
	margin: 1em;
}

#organizer_main_cointainer div.forced_scroll td {
	white-space: nowrap;
}

#organizer_main_cointainer table.legend td {
    vertical-align: middle !important;
}

#organizer_main_cointainer tr.registered_slot td {
    background-color: LightGreen !important;
}

#organizer_main_cointainer div.singlebutton button {
    margin: 20px 5px;
}

#organizer_main_cointainer span.countdown_normal {
    background-color: LightGreen;
}

#organizer_main_cointainer span.countdown_hurry {
    background-color: Yellow;
}

#organizer_main_cointainer span.countdown_critical {
    background-color: rgb(255,204,153);
}

#organizer_main_cointainer span.countdown_passed {
    background-color: #F0F0F0;
}

#organizer_main_cointainer span.nobreak {
	white-space: nowrap;	
}

#organizer_main_cointainer div.organizerinfo {
	width: 50% !important;
}

#organizer_main_cointainer table.print-preview td {
	border: 1px solid #BBB !important;
	border-collapse: collapse;
}

#organizer_main_cointainer table.coloredrows th {
    white-space:nowrap;
}

#organizer_main_cointainer table.coloredrows .r0 {
    background-color: #f0f0f0;
    white-space:nowrap
}

#organizer_main_cointainer table.coloredrows .r1 {
    background-color: #fafafa;
    white-space:nowrap
}

#organizer_main_cointainer div#fgroup_id_printperpagegrp fieldset {
	margin-bottom:0;
	padding-left:0;
}

#page-mod-organizer-view div#organizer_popup_header div.title h2{
	width:100%;
}
